.home-page-container {
  font-family: var(--roboto-font);
  min-height: 100vh;
  max-height: max-content;
}
.btn-add-float {
  display: none;
}
/* Notes Listing Container */
.notes-listing {
  width: 80vw;
  padding: 1rem;
  background-image: var(--light-indigo-grad);
}
.search-clear-link {
  cursor: pointer;
}
.search-clear-link:hover {
  text-decoration: underline;
  color: red;
}

@media screen and (max-width: 800px) {
  .notes-listing {
    width: 100%;
  }
  .btn-add-float {
    display: block;
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    border: 2px solid var(--indigo-light);
    z-index: 2;
    background-color: var(--indigo-color);
  }
}
