.home-page-container{
    font-family: var(--roboto-font);
    min-height: 100vh;
    max-height: max-content;
    
}

/* Notes Listing Container */
.notes-listing{
    background-color: var(--grey-lightest);
    width: 80vw;
    padding: 1rem;
    background-image: var(--light-indigo-grad);
}

.filter-clear-btn {
    cursor: pointer;
}
.filter-clear-btn:hover {
   text-decoration: underline;
   color: var(--red-color);
}

