.labels-page-container{
    font-family: var(--roboto-font);
    min-height: 100vh;
    max-height: max-content;
    
}

/* Notes Listing Container */
.labels-notes-listing{
    background-color: var(--grey-lightest);
    width: 80vw;
    padding: 1rem;
    background-image: var(--light-indigo-grad);
}


