.filters-box-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  place-items: center;
  display: none;
  z-index: 3;
}

.filters-box-container {
  width: 350px;
  min-height: 5rem;
  max-height: max-content;
  background-color: var(--white);
  font-family: var(--montserrat-font);
  box-shadow: var(--box-shadow-1);
  border-radius: var(--radius-md);
}

.filters-box-heading {
  justify-content: space-between;
}
#filters-box-close {
  cursor: pointer;
  width: 5rem;
  margin-left: auto;
  color: var(--indigo-color);
  font-weight: 800;
  border: 2px solid var(--indigo-color);
}
.filter-clear-btn {
  cursor: pointer;
  background-color: var(--indigo-color);
}
.hide-filter-box {
  display: none;
}
.show-filter-box {
  display: grid;
}
