

.note-container{
    
    width: 600px;
    min-height: 5rem;
    max-height: max-content;
    gap: 1rem;
    /* background-color: var(--white); */
    font-family: var(--montserrat-font);
    box-shadow: var(--box-shadow-1);
    border-radius: var(--radius-md);
    position: relative;
    
}

.note-container i{
    cursor: pointer;
}
.top-section i{
  margin-left: auto;
}

.icon-buttons{
    margin-left: auto;
    gap: 1rem;
  
}

.note-container .material-icons{
  border-radius: 50%;
  padding: 5px;
}

.note-container .material-icons:hover{
    color: var(--black);
    background-color: var(--grey-lightest);
}


.chips{
  font-size: 1rem;
  margin: 7px 3px;
  border-radius: 7px;
  padding: 4px 6px;
  background-color: var(--indigo-color);
  color: var(--white);
  display: flex;
  justify-content: space-evenly;
  width: max-content;
  white-space: nowrap;  /* To make sure that line doesn't breaks after space in words */
}

.show-priority{
  font-size: 0.9rem;
  padding: 4px 2px;
  margin: 1rem 0;
  text-transform: uppercase;
  width: 5rem;
  text-align: center;
  font-weight: bold;
}

.priority-none{
  border: 1px solid var(--grey-dark);
  color: var(--grey-dark);
  background-color: var(--grey-lightest);
 
}
.priority-high{
  border: 1px solid var(--red-color);
  color: var(--red-color);
  background-color: var(--red-light);
  

}
.priority-medium{
  border: 1px solid var(--yellow-color);
  color: var(--yellow-color);
  background-color: var(--yellow-light);  
}
.priority-low{
  border: 1px solid var(--napier-green);
  color: var(--napier-green);
  background-color: var(--napier-green-light);
}

